/* ----------------------------- */
/* Fonts */
/* ----------------------------- */

/* h1 font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

/* ----------------------------- */
/* Reusable Components */
/* ----------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria;
    font-size: 1em;
    outline: none;
    user-select: none;
}

:root {
    --light-main-color: rgb(245, 130, 130);
    --v-deep-main-color: rgb(252, 23, 23);
    --v-light-main-color: rgb(172, 144, 144);
    --main-color: rgb(252, 76, 76);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --dark-blue:#130f40;
    --light-color:#666;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1em solid rgba(0,0,0,.1);
    --liner-background-07: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    --liner-background-05: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

body, a {
    color: var(--white);
}

a {
    text-decoration: none;
}

input {
    padding-left: .5em;
}

/* ----------------------------- */
/* header */
/* ----------------------------- */

.header {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header .slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slider_img {
    width: 100%;
    height: 100%;
    animation: zoom 5s linear infinite;
}

@keyframes zoom 
{
    0% {
        transform:  scale(1.3);
    }
    15% {
        transform:  scale(1);
    }
    85% {
        transform:  scale(1);
    }
    100% {
        transform:  scale(1.3);
    }
}

header .overlay {
    width: 100%;
    height: 100vh;
    background: var(--liner-background-05);
    position: absolute;
    top: 0;
}

header .overlay .main-title {
    width: inherit;
}

header .overlay h1 {
    margin-bottom: 1em;
}

header .overlay .main-title .view-btn {
    position: relative;
}

header .overlay .main-title .view-btn a {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--light-main-color);
    padding: .7em 1.3em;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    overflow: hidden;
    transition: all 300ms;
}

header .overlay .main-title .view-btn a:hover {
    color: var(--main-color);
}

header .overlay .main-title .view-btn a::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
}

header .overlay .main-title .view-btn a span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--v-light-main-color), var(--v-deep-main-color));
    animation: animate1 2s linear infinite;
}

@keyframes animate1 
{
    0% 
    {
        transform: translateX(-100%);
    }
    100% 
    {
        transform: translateX(100%);
    }
}

header .overlay .main-title .view-btn a span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to right, var(--v-light-main-color), var(--v-deep-main-color));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2
{
    0% 
    {
        transform: translateY(-100%);
    }
    100% 
    {
        transform: translateY(100%);
    }
}

header .overlay .main-title .view-btn a span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, var(--v-light-main-color), var(--v-deep-main-color));
    animation: animate3 2s linear infinite;
}

@keyframes animate3
{
    0% 
    {
        transform: translateX(100%);
    }
    100% 
    {
        transform: translateX(-100%);
    }
}

header .overlay .main-title .view-btn a span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, var(--v-light-main-color), var(--v-deep-main-color));
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4
{
    0% 
    {
        transform: translateY(100%);
    }
    100% 
    {
        transform: translateY(-100%);
    }
}

/* ----------------------------- */
/* Navigation */
/* ----------------------------- */

nav.navigation .nav-item .nav-link {
    padding-left: .7em;
    padding-right: .7em;
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--main-color);
}

.dropdown-menu .dropdown-item span i {
    margin-right: .8em;
}
.navigation div:first-child {
    margin-right: auto;
}

.navigation .logo {
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: .1em;
}

.navigation .logo span {
    color: var(--main-color);
}

nav a.logo:hover {
    color: var(--white);
}

nav.navigation form input[type=search]:focus,
nav.navigation form button:focus {
    border-color: var(--main-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--main-color);
}

nav.navigation form button {
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

nav.navigation form button:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

/* request_member */
.check_member {
    color: var(--main-color);
}

.check_member:hover {
    color: var(--main-color);
    text-decoration: var(--main-color) underline;
}

/* ----------------------------- */
/* off canvas */
/* ----------------------------- */

header .overlay .offcanvas {
    color: var(--dark-blue);
}

/* ----------------------------- */
/* h1, h2, h3, h4, btn, heading */
/* ----------------------------- */

h1, h2, h3 {
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}

header .main-title h1 {
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
    font-size: 6em;
    background: url('/projectImage/main-color.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

h2, h3, h4, h5 {
    color: var(--dark-blue);
}

h2 {
    
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    color:var(--light-color);
}

.btn:not(nav form button) {
    padding: .5em 1em;
    color: var(--white);
    background-color: var(--light-main-color);
}

.btn:hover {
    color: var(--white);
    background-color: var(--main-color);
}


.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom:.1em; left:0;
    height: 100%;
    width: 100%;
    background: var(--light-main-color);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

/* ----------------------------- */
/* Section: Popular Vehicles */
/* ----------------------------- */

.vehicles .vehicles-slider .interest-item {
    color: var(--v-light-main-color);
    font-size: .8em;
    margin-left: .5em;
}

.vehicles .vehicles-slider .interest-item:hover {
    color: var(--main-color);
}

.vehicles .vehicles-slider{
    padding-bottom: 5rem;
}

.vehicles .vehicles-slider .box{
    text-align: center;
}

.vehicles .vehicles-slider .box img{
    width:100%;
    transform: scale(.8);
    opacity: .5;
}

.vehicles .vehicles-slider .box .content{
    padding-top: 1rem;
    transform: scale(0);
}

.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img{
    transform: scale(1);    
    opacity: 1;
}

.vehicles .vehicles-slider .box .content h3{
    font-size: 2rem;
    color:var(--dark-blue);
}

.vehicles .vehicles-slider .box .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
    padding:1rem 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span{
    color:var(--light-color);
    font-size: 1rem;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p{
    font-size: 1.3rem;
    color:var(--v-light-main-color);
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.vehicles .vehicles-slider .box .content span{
    font-size: 1rem;
    color:var(--main-color);
    padding:0 .5rem;
}

.swiper-pagination-bullet-active{
    background: var(--main-color);
}

/* ----------------------------- */
/* Section: Featured */
/* ----------------------------- */

section.featured {
    max-width: 100%;
}

/* section.featured .carousel-item img {
    height: 20em;
    width: 15em;
} */

.featured .featured-slider .box img{
    width: 12em;
    transition: all .5s;
}

.featured .featured-slider .box:hover img{
    transform: scale(1.1);
}

.featured .featured-slider .box .content h3{
    font-size: 2.2rem;
    color:var(--dark-blue);
}

.featured .featured-slider .box .content .stars{
    padding:1rem 0;
}

.featured .featured-slider .box .content .stars i{
    font-size: 1.7rem;
    color:var(--main-color);
}

/* ----------------------------- */
/* Section: Service */
/* ----------------------------- */

.service_js {
    margin-right: 1em;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap:1.5rem;
}

.services .box-container .box{
    padding:1em;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
}

section.services .box-container .box p {
    line-height: 1.8;
    padding:.5em 0;
}

.services .box-container .box i{
    padding: .3em;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: .5em;
    background:var(--main-color);
    color: var(--white);
}

.services .box-container .box:hover{
    background: var(--dark-blue);
}

.services .box-container .box:hover h3,
.services .box-container .box:hover p{
    color: var(--white);
}

/* ----------------------------- */
/* Section: Review */
/* ----------------------------- */

.reviews .review-slider{
    padding-bottom: 3rem;
}

.reviews .review-slider .box{
    text-align: center;
    padding:2rem;
    margin: 2rem 0;
    opacity: .4;
    transform: scale(.9);
}

.reviews .review-slider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.reviews .review-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5em;
}

.reviews .review-slider .box .content p{
    color:var(--v-light-main-color);
    font-size: 1.2rem;
    padding: .5em 0;
}

.reviews .review-slider .box .content h3{
    color:var(--dark-blue);
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.reviews .review-slider .box .content .stars i{
    color:var(--main-color);
    font-size: 1.7rem;
}

/* ----------------------------- */
/* Section: Contact */
/* ----------------------------- */

.contact .row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap:1.5em;
}

.contact .row .map{
    /* flex:1 1 42em; */
    width: 50%;
    padding:2em;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5em;
}

.contact h2.heading {
    margin-bottom: 1em;
}

.contact .row form{
    padding:1.5em;
    /* flex:1 1 42em; */
    width: 50%;
    font-size: .7em;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: .5em;
}

.contact .row form input {
    height: 2em;
}

.contact .row form h3{
    font-size: 2em;
}

.contact .row form .box{
    width:100%;
    border-radius: .5em;
    padding:1rem 1.2em;
    font-size: 1.6em;
    text-transform: none;
    border:var(--border);
    margin: .5em 0;
}

.contact .row form textarea{
    resize: none;
}

/* ----------------------------- */
/* Section: Subscribe */
/* ----------------------------- */

section.subscribe{
    background: url('/projectImage/subscribe-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 1em;
}

.subscribe h2 {
    font-size: 2.5em;
}

.subscribe p{
    font-size: 1.5em;
    padding:1em 0;
}

.subscribe form {
    max-width: 50em;
    height:4em;
    background: var(--white);
    border-radius: 3em;
    overflow:hidden;
    display: flex;
    margin: 1em auto;
    box-shadow: var(--box-shadow);
}

.subscribe form input[type="email"]{
    height: 100%;
    width:100%;
    padding:0 2em;
    font-size: 1.6em;
    color:var(--dark-blue);
    text-transform: none;
    border: none;
}

.subscribe form input[type="submit"]{
    height: 100%;
    width: 17em;
    font-size: 1.7em;
    color:var(--black);
    background: var(--light-main-color);
    cursor: pointer;
    border: none;
}

.subscribe form input[type="submit"]:hover{
    background: var(--main-color);
}

/* ----------------------------- */
/* footer */
/* ----------------------------- */

footer {
    background-color: var(--main-color);
}

footer h3 {
    margin-bottom: 1em;
}

footer .col {
    display: flex;
    flex-direction: column;
}

footer .col i {
    margin-right: .5em;
}

footer .col a {
    margin-bottom: .7em;
    align-self: flex-start;
    transition: all .3s ease-in-out;
}

footer .col a:hover {
    color: var(--dark-blue);
    transform: translateX(.7em);
}

footer .credit {
    font-size: 1.5em;
    border-top: 1px solid var(--white);
}

/* ----------------------------- */
/* Media Query */
/* ----------------------------- */

/* screen size (768px) */
@media (max-width: 768px) {

    header .overlay .main-title h1 {
        font-size: 5em;
        margin: 0 1em;
    }

    /* Section: Contact */
    .contact .row{
        flex-direction: column;
    }

    .contact .row .map, .contact .row form {
        width: 100%;
    }

    .contact h2.heading {
        margin-bottom: .5em;
    }
    
    /* Section: Subscribe */
    .subscribe form{
        max-width: 35em;
    }
    .subscribe form input[type="submit"]{
        width: 8em;
    }
    .subscribe h2 {
        font-size: 2em;
    }
    .subscribe p{
        font-size: 1.2em;
    }

    /* Footer */
    footer .row .our-branches,
    footer .row .quick-links {
        margin-bottom: 1.5em;
    }
}

/* screen size (575px) */
@media (max-width: 575px) {
    /* Footer */
    footer .row .contact-info {
        margin-bottom: 1.5em;
    }
}

/* screen size (500px) */
@media (max-width: 500px) {

    /* Universal Set */
    header .overlay .main-title h1 {
        font-size: 3em;
        margin: 0 1em;
    }
    h2 {
        font-size: 2.5em;
    }

    /* Section: Contact */
    .contact .row .map{
        padding: 1em;
        height: 50vh;
    }

    /* Section: Subscribe */
    .subscribe form {
        font-size: .7em;
    }
    .subscribe form input[type="submit"]{
        width: 8em;
    }
    .subscribe h2 {
        font-size: 1.5em;
    }
    .subscribe p{
        font-size: 1em;
    }
}